<h6>Dashboard</h6>
<h3>Welcome</h3>
<p>Here are your stories</p>
<div class="d-flex">
    <div class="card w-18">
        <div class="card-body p-10">
            <h4 class="card-title text-center">INFO</h4>
            {{#each user }}
            <p class="card-text">
                <b>Name:</b> {{name}} <br>
                <b>Email:</b> {{email}} <br>
                <b>Gender:</b> {{gender}} <br>
                <b>Age:</b> {{age}} <br>
                <b>Occupation:</b> {{occupation}} <br>
                <b>Hobbies:</b> {{hobbies}} <br>
                <b>Health Issues:</b> {{health_issues}} <br>
            </p>
                {{/each}}

        </div>
    </div>
    <div class="card w-50 ml-10">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form  id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any stories</p>
{{/if}}
<script id="template" type="text/x-handlebars-template">
</script>
